body {
    margin : 0;
}

/* pc */
.wrapper{
    height : 600px;
    width : 80%;
    margin : 50px auto 0 auto;
    display : flex;
    border-radius : 20px;
    box-shadow: 0px 0px 25px #dfdfdf;;
    background-color: rgb(255, 255, 255);
}

.left-wrapper{
    /* background-color: red; */
    width : 30%;
    height : 100%;
    border-right : 1px  solid gray;
    overflow-y:scroll;
}

.right-wrapper{
    /* background-color: yellow; */
    width : 70%;
    height : 100%;
    overflow-y:scroll;
}

.left-wrapper::-webkit-scrollbar{
    width: 3px;
}

/* 스크롤바 막대 설정*/
.left-wrapper::-webkit-scrollbar-thumb{
    background-color: gray;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
    height: 30%;
}

/* 스크롤바 뒷 배경 설정*/
.left-wrapper::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}